.center {
    margin: 0 auto;
    /*width: 55%;*/
    text-align: center;
    position: relative;
}

.center2 {
 /*   display:inline-block; */
}

a {
    background-color: #331177;
    text-decoration: none;
    font-size: 16px;
}

.hide { display:none }

.picker--opened .picker__holder {
    min-width: 260px !important;
}

.center3 {
    text-align: center;
    display: inline-block;
    position: relative;
    margin-left: 2%;
}

.wall {
    background: url("../img/_3.jpg");
    background-repeat: no-repeat;    
    background-size: cover;
}

h1 {
    padding-bottom: 1em;
    text-align: inherit;
    color: #ffffff;
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 auto;
    position: relative;
}

.myinput {
    height: 2.6em;
    min-width: 350px;
    box-sizing: border-box;
}

input[type="text"] {
    font-weight: 500;
    text-align: center;
    font-size: 1.3em;
}

canvas {
    text-align: center;
    margin: 0 auto;
}

.mybutton {
    min-width: 14em;
    background-color: #00aacc;
    height: 3.5em;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    text-shadow: 0 -0.05em 0 rgba(0, 0, 0, 0.1);
    font-weight: 650;
    color: #ffffff;
}

.mybutton:disabled {
    background-color: #9e9e9e;
    cursor: auto;
}

button:hover {
    background-color: #00aacf;
}

input[type="checkbox"] {
    font-size: 0.1em;    
}

a {
    color: white;
    font-size: 0.7em;
}